@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Test";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>@Localizer["Sign up for a visit"]</h1>
        </div>
        <div class="col-4 offset-4">
            <form method="post" asp-controller="Visit" asp-action="ChooseDate">
                <div class="form-group row">
                    <label for="doctor" class="col-sm-3 col-form-label">@Localizer["Doctor"]</label>
                    <select name="doctor" class="form-control col-9" id="doctor">
                        @foreach (var doc in Model)
                        {
                            <option value="@doc.Login">@doc.Surname @doc.Name</option>
                        }
                    </select>
                    @if (TempData["validationDoctor"] != null)
                    {
                        <small class="col-12 form-text text-muted text-center alert alert-danger">@TempData["validationDoctor"]</small>
                    }
                </div>

                <div class="form-group row">
                    <label for="date" class="col-sm-3 col-form-label">@Localizer["Choose day"]</label>
                    <input class="col-9" type="date" id="date" name="date"
                           value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")"
                           min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" />
                    @if (TempData["validationDate"] != null)
                    {
                        <small class="col-12 form-text text-muted text-center alert alert-danger">@TempData["validationDate"]</small>
                    }
                </div>

                <input id="edit" name="edit"
                       value="-1" hidden />

                <button type="submit" class="btn btn-primary" style="float: right;">@Localizer["Next"]</button>
            </form>
            <button onclick="location.href='@Url.Action("Index", "Visit")'" class="btn btn-primary" style="float: left;">@Localizer["Back"]</button>

        </div>
    </div>
</div>