
@{
    ViewData["Title"] = "Wizyty";
}
    <div>
        <div class="float-left">
            <h1>Twoje wizyty</h1>
        </div>
        <div class="float-right">
            <button class="btn btn-primary" onclick="location.href='@Url.Action("GenerateTodaysVisitsToPDF", "Visit")'">
                Generuj dzisiejsze wizyty
            </button>
        </div>
    </div>
<table class="table text-center">
    <caption>Twoje wizyty</caption>
    <thead>
        <tr class="bg-primary text-white">
            <th scope="col">Pacjent</th>
            <th scope="col">Dzień</th>
            <th scope="col">Godzina</th>
            <th scope="col">Przełóż</th>
            <th scope="col">Odwołaj</th>
        </tr>
    </thead>
    @foreach (var visit in Model)
    {
        <tr class="bg-dark text-white">
            <td>@visit.Visitor.Surname @visit.Visitor.Name</td>
            <td>@visit.DateTime.ToString("dd.MM.yyyy")</td>
            <td>@visit.DateTime.ToString("HH:mm")</td>
            @if (visit.DateTime.CompareTo(DateTime.Now) > 0)
            {
                <td>
                    <button class="btn" onclick="location.href='@Url.Action("Edit", "Visit", new { id = visit.VisitId })'">
                        <i class="fa fa-calendar" style="color: white;"></i>
                    </button>
                </td>
                <td>
                    <button class="btn" onclick="location.href='@Url.Action("Delete", "Visit", new { id = visit.VisitId })'">
                        <i class="fa fa-trash" style="color: white;"></i>
                    </button>
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
        </tr>
    }
</table>