@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Visits"];
}

<div>
    <div class="float-left">
        <h1>@Localizer["Your visits"]</h1>
    </div>
    <div class="float-right">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Visit")'">@Localizer["Sign up for a visit"]</button>
    </div>
</div>
<table class="table text-center">
    <caption>@Localizer["Your visits"]</caption>
    <thead>
        <tr class="bg-primary text-white">
            <th scope="col">@Localizer["Doctor"]</th>
            <th scope="col">@Localizer["Day"]</th>
            <th scope="col">@Localizer["Hour"]</th>
            <th scope="col">@Localizer["Move"]</th>
            <th scope="col">@Localizer["Cancel"]</th>
        </tr>
    </thead>
    @foreach (var visit in Model)
    {
        <tr class="bg-dark text-white">
            <td>@visit.Doctor.Surname @visit.Doctor.Name</td>
            <td>@visit.DateTime.ToString("dd.MM.yyyy")</td>
            <td>@visit.DateTime.ToString("HH:mm")</td>
            @if (visit.DateTime.CompareTo(DateTime.Now) > 0)
            {
                <td>
                    <button class="btn" onclick="location.href='@Url.Action("Edit", "Visit", new { id = visit.VisitId })'">
                        <i class="fa fa-calendar" style="color: white;"></i>
                    </button>
                </td>
                <td>
                    <button class="btn" onclick="location.href='@Url.Action("Delete", "Visit", new { id = visit.VisitId })'">
                        <i class="fa fa-trash" style="color: white;"></i>
                    </button>
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }
        </tr>
    }
</table>